@import url(.//reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------HEADER-------------*/
.container {
  max-width: 1030px;
  margin: 0 auto;
}

.header__nav__contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 19px;
 
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav__page {
  display: flex;
  font-size: 18px;
  line-height: 1;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
 
}

.header__nav__tel {
  display: flex;
  font-size: 18px;
  line-height: 1;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
 
}

.header {
 
  margin-bottom: 17px;
  margin-top: 46px;
}

.header__nav {
  display: flex;
  gap: 10px;
}


.header__logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-top {
  font-weight: 700;
  font-size: 29px;
  line-height: 1;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  color: white;
}

.name-bottom {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  flex-flow: column;
  color: white;
}
.header__nav__page:hover,
.header__nav__tel:hover,
.wrapper__text:hover,
.name-top:hover,
.name-bottom:hover{
  color: #f26522;
}

.logo, .logo2 {
  margin-right: 8px;
}

.header__logo:hover .logo{
 display: none;
}

.header__logo:hover .logo2{
  display: inline;
}
.header__logo:hover{
  color:#f26522;
}

.logo2{
  display: none;
}
/*--------------------MAIN------------------*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(220px, auto);
  grid-gap: 37px 61px;
  position: relative;
}

/*-------POP-UP----*/
.milan__box {
  position: relative;
}
.pop_up {
  background-color: #f26522;
  color: #ffffff;
  width: 300px;
  height: 55px;
  display: flex;
  position: absolute;
  top: 165px;
  left: 0;
  opacity: 0;

}
.pop_up:hover {
  opacity: 1;
}

.pop_up__from {
 margin-top:7px ;
 margin-bottom: 8px;
 margin-left: 16px;
 width: 22px;
  font-size: 10px;
  line-height: 1;
}

.pop_up__money {
  font-size: 20px;
  line-height: 1;
 margin:0 135px 12px 16px;
}

.details__title {
  font-size: 14px;
  line-height: 1;
  
  padding: 29px 37px 12px 0;
  position: relative;
}

.details__title::after {
  content: "";
  width: 5px;
  height: 10px;
  background: url(../img/icon.png) center/cover no-repeat;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  right:16px;
}

.wrapper__text {
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
}

.photo {
  width: 300px;
  
  margin-bottom: 20px;
border: 2px solid;
border-image: linear-gradient(to left,
  rgb(255, 255, 255),
  rgb(0, 0, 0)) 1;
}
main {
  margin-bottom: 49px;
}

/*------------------FOOTER----------------*/
.footer {
  padding-top: 49px;
  font-size: 12px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
}